// ----------------------------------------------------------
// ----- FOOTER
// ----------------------------------------------------------

.mainFooter{
    @include font-sm;
    @include fade;
    margin-top: $gutter3;
    @include border-top;
    position: relative;
    background: var(--white);
    a{
        color: var(--font-color);
        &:hover{
            text-decoration: underline;
        }
    }
 
     
    
    &__bottom{
        @include font-sm;
        @include font-medium;
        text-align: center;
        padding: $gutter2 0;
        background: var(--white);
        & > .container{
            @include flexbox;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        a{
        }
    }
    
    &__info{
        margin: 0 0 $gutter 0;
    }
    &__author{
        @include flexbox;
        align-items: center;
        .designer{
            margin-right: 15px;
        }
        .darkMode{
            margin-left: $gutter;
        }
    }
    
    

    @include media-up(md){
        &__bottom > .container{
            flex-direction: row;
            justify-content: space-between;
        }

    }

 
}
 
 
 
 
