@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 400;
  src: local('Sansation Regular'), local('Sansation-Regular'), url(../fonts/sansation/Sansation_Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 700;
  src: local('Sansation Bold'), local('Sansation-Bold'), url(../fonts/sansation/Sansation_Bold.ttf) format('ttf');
}